*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.parent-section{
    background: url(IMG/hero-bg1.jpg);
    width: 100%;
    height: 87vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5%;
    overflow: hidden;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #FE5200;
    padding: 10px 60px;
}
.header h1{
    font-size: 2em;
    color: #ffff;
}
.header ul{
    display: flex;
    font-size: 1.5em;
    gap: 60px;
    list-style: none;
    font-weight: 500;
    align-items: center;
}
.header ul li a{
    text-decoration: none;
    color: white;
}
.header .leftheader{
    display: flex;
    justify-content: start;
    gap: 20px;
}
.header .btns{
    /* display: flex;
    justify-content: center; */
    gap: 10px;
    
    font-size: 40px;
}
.header .btns button{
    font-size: 0.6em;
    padding: 5px 20px;
    border: none;
    border-radius: 16px;
    background-color: #ffff;
    color: #FE5200;
    cursor: pointer;
}
.header .btns button a{
    text-decoration: none;
    color: #FE5200;
}
#sign{
    color: white;
}
#Signup{
    background-color: transparent;
    border: 1px solid #ffff;
    color: #ffff;
}
.leftheader img{
    border: 1px solid #ffff;
    border-radius: 50%;
    padding: 10px;

}
.hero-section{
    position: relative;
    
}





.hero-bottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 16%;
    /* border: #FEff solid; */
}
#cunto{
    width: 300px;
    height: 300px;
}
.cunto2{
    width: 250px;
    height: 200px;
    margin-top: 6%;
  
}
.hero-bottom .cunto{
    margin-left: -6%;
    margin-top: 3%;
}

.header i{
    display: none;
}

.hero-bottom #h11{
    color: white;
    font-size: 4em;
}

.sub ul{
    list-style: none;
    margin-left: 50px;
    font-size: 1.4em;
    color: white;
}



/* menu list style */

.menu{
    width: 100%;
    margin-top: 100px;
}

.menubox{
    display: flex;
    gap: 30px;
    padding-bottom: 40px;
}

.menubox .left:hover img{
    scale: 1.1;
    transition: 2s;
}

.menubox .left:hover{
    border: 1px solid orangered;
    /* transition-duration: 2s; */
}

.menubox .left{
    width: 500px;
    height: 150px;
    background-color: rgb(245, 237, 237);
    margin-left: 140px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;

}

.left #leftboxm1{
    margin: 20px;
}

.left #leftboxm1 h1{
    font-size: 1.2em;
    padding-bottom: 10px;
}

.left #leftboxm1 p{
    width: 70%;
    color: grey;
    padding-bottom: 13px;
}

.left #leftboxm1 h2{
    color: orangered;
}

.left #leftboxm2{
    margin: 20px;
    position: relative;
}

.left #leftboxm2 img{
    border-radius: 12px;
}

.left #leftboxm2 i{
    position: absolute;
    bottom: 30px;
    right: 10px;
    font-size: 2em;
    color: white;
    background-color: #FE5200;
    width: 28px;
    height: 23px;
}


/* right */


.menubox .right:hover img{
    scale: 1.1;
    transition: 2s;
}

.menubox .right:hover{
    border: 1px solid orangered;
}
.menubox .right{
    width: 500px;
    height: 150px;
    background-color: rgb(245, 237, 237);
    /* margin-left: 30px; */
    border-radius: 15px;
    display: flex;
    justify-content: space-between;

}

.right #rightboxm1{
    margin: 20px;
}

.right #rightboxm1 h1{
    font-size: 1.2em;
    padding-bottom: 10px;
}

.right #rightboxm1 p{
    width: 70%;
    color: grey;
    padding-bottom: 10px;
}

.right #rightboxm1 h2{
    color: orangered;
}

.right #rightboxm2{
    margin: 20px;
    position: relative;
}

.right #rightboxm2 img{
    border-radius: 12px;
}

.right #rightboxm2 i{
    position: absolute;
    bottom: 30px;
    right: 10px;
    font-size: 2em;
    color: white;
    background-color: #FE5200;
    width: 28px;
    height: 23px;
}


.hall3{
    position:relative ;
}
.image55{
    position: absolute;
    left: 1230px;
    bottom: 540px;
    width: 100px;
    animation-name: anim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* animation-direction: reverse; */
    /* transform: translatey(50px);
    transition: 2s;
    transition: 1s ease; */
    
}

@keyframes anim{
    from{
       transform: translatey(0);
    }
    to{
        transform: translatey(50px);
    }
}

.image6{
    position: absolute;
    bottom: 0px;
       animation-name: anim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


.footer{
    height: 500px;
    background-color: gray;
    margin-top: 200px;
}




